/* Stylesheet by Andrew Pittman, Vlad Sliusar, and Zheng Li 2018 */
body, html {height:100%;}
div.wrap {height:100%; overflow:hidden;}
body {overflow: hidden; }

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/*remove Chrome's blue highlight*/
:focus {
    outline: none !important;
}

.body {
  background-color:#a2c4da;
  padding-top: 56px;
  padding-bottom: 57px;
}

li {
  list-style: none;
}



#main-title {
    font-family: sans-serif;
    font-size: 10em;
    font-weight: bold;
}

.navbar{
  background: rgba(0, 0, 0, .7);
  opacity: 1;
  height: 56px;
}

#navbar-brand{
  color:white;
}

.fa-filter{
  color:white;
  margin-left:60px;
  margin-top:12px;
  margin-right: 10px;
  opacity: 0.7;
  cursor:pointer;
  transition: all 0.3s ease-in-out;
}

#filter-indexes{
  font-family: 'lato';
  font-weight: 300;
  color:white;
  font-size: 15px;
  margin-top:12px;
  margin-right:15px
}


#span-navbar-UW{
  color:white;
  padding-left:15px;
}

#navbarDropdownMenuLink1{
  margin-bottom:2px;
  color:#f7ca45;
  background-color: rgba(0,0,0,0.4);
  border: solid 1px rgba(255,255,255,0.3);
  border-radius: 5px;
  margin-right:15px;
}
#navbarDropdownMenuLink2{
margin-bottom:2px;
color:#f7ca45;
background-color: rgba(0,0,0,0.4);
border: solid 1px rgba(255,255,255,0.3);
border-radius: 5px;
}

/*slide out about section*/
#span-navbar-about{
  color:white;
}

.toggle_about{
  color:white;
  cursor:pointer;
  font-style: normal;
  margin-left: 15px;
  z-index: 100000;
}

.toggle_about:hover{
  color:#f7ca45;
}

.sidebar_about{
  position:relative;
  width: 267px;
  float:right;
  overflow: hidden;
  height:100vh;
  max-height: 100vh;
  background-color: rgba(0,0,0,0.7);
  opacity:1;
  transition: all 0.3s ease-in-out;
  border-bottom-left-radius: 5px;
}

.fa-times{
  color:white;
  left:10px;
  top:10px;
  opacity: 0.7;
  cursor:pointer;
  position:absolute;
  transition: all 0.3s ease-in-out;
}

.fa-times:hover{
  opacity:1;
}

.boxed_item{
  font-family: 'lato';
  font-weight: 400;
  margin-top: 40px;
  padding: 8px 10px;
  display:inline-block;
  border: solid 1px rgba(255,255,255,0.2);
  background-color: rgba(0,0,0,0.3);
  box-sizing: border-box;
  color: #f7ca45;
  text-align: center;
  font-size:23px;
}

.about-title{
   color:white;
   font-family:'lato';
   font-weight: 400;
   font-size:17px;
   text-align:center;
   padding:10px 0;
}

.about-text{
  color:white;
  opacity:0.8;
  font-family:'lato';
  font-weight: 400;
  font-size:14px;
  text-align:left;
  padding:5px 25px;

}

.hide_about{
  margin-right: -250px;

}
.opacity_one{
  opacity:1;
  transition: all 0.3s ease-in-out;
}
/*end slide out about section*/


#nav-link-reset{
  color:white;
}

#toggle-border{
   background-color:none;
   display: inline-block;
}
#toggle-border:before{
    content: "|";
    color:white;
}

#nav-link-reset:hover{
  color:#f7ca45;
}

@media only screen and (max-width: 75em) {
  #toggle-border:before{
      content: none;
      color:none;
    }
}


#info-card{
    background: rgba(0, 0, 0, .7);
}

.card-text{
  color:white;
}

.card-header{
  color:white;
}

.text-success{
  color:#85b4dc;
}

.btn{
  background-color:#67a1d3;
}


/*temporal slider*/
.axis{

  fill:black;
  font-size:10px;
}

#slider-container{
bottom:0px;
/*background-color:rgba(0,0,0,0.7);*/
border-radius: 0px;
left: 67.5%;
bottom:5%;
margin-left: -37.5%;
position:absolute;
overflow: hidden;
}

#slider{
  margin-top: 2%;
  fill:white;
  margin-left: 22%;
  bottom:500px;
}

g .tick text{
 font-size:1.8em;
 font-weight: bold;
 fill: #2e2e2e;
}


.track{
  height:20px;
  stroke:none;
  opacity:0.8;
}

#value{
  font-size: 60px;
  color:white;
  font-weight: 700;
  font-family: 'lato';

}
/*end temporal slider*/


.gratLines {
  fill: none;
  stroke: #999;
  stroke-width: 1px;
}

.gratBackground {
  fill: rgba(36, 71, 141, 0.212);
}

/* map css styles */

.map-container {
  margin-top:%;
  padding-right:px;
  margin-left:px;
  height: auto;
  border: gray;
}

#year-container{
  float:left;
  padding:0px;
  margin-top:5px;
  margin-left:50px;
}

#year-container-title{
  font-family: 'lato';
  font-weight:800;
  color:#2e2e2e;
  margin-bottom:-10px;
}

.map-container path.country {
  fill: #e8e8e8;
  stroke: white;
}

.infocard {
  position: relative;
  margin-top:-2px;
  float:left;
  overflow: hidden;
  height:100vh;
  max-height: 100vh;
  background-color: rgba(0,0,0,0.7);
  opacity:1;
}

.info {
  font-size: 0.8em;
}

.sourceLink {
  font-size: 0.9em;
}

/* tooltip styles */

.body > .main-tooltip {
  background-color: hsla(210, 10%, 23%, 0.7);
  opacity: 0;
  z-index: 999;
  position: absolute;
  min-width: 50px;
  pointer-events: none;
  border: 2px black hsla(210, 10%, 23%, 0.9);
  padding: 2px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px black;
}

.body > .main-tooltip .number {
  font-family: monospace;
  text-align: right;
  font-size: 1.3em;
  font-weight: 900;
  color: white;
}

.body > .main-tooltip p {
  margin: 2px;
  color: white;
  display: inline;
  white-space: nowrap;
}

/* bar chart css */

.bar-chart {
  height: auto;
}

.bar-char-interior {
  background-color: aqua;
}

.bar-chart path.bar {
  fill: gray;
  /* stroke: #fff; */
}

.bar-chart text.data {
  fill: white;
  /* stroke: black; */
  /* stroke-width: 0.7; */
  font-family: sans-serif;
  font-size: 0.85em;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 1.2em;
}
