/* Stylesheet by Andrew Pittman, Vlad Sliusar, and Zheng Li 2018 */

.body {
  background-color:#a2c4da;
  padding-top: 57px;
  padding-bottom: 57px;
}

li {
  list-style: none;
}

.navbar{
  background: rgba(0, 0, 0, .7);
  opacity: 1;
}

#navbar-brand{
  color:white;
}

#span-navbar-UW{
  color:white;
}

#nav-link-reset{
  color:white;
  float:right;
   border-right: solid 2px white;
}

#span-navbar-UW{
  color:white;
  padding-left:15px;
}


#navbarDropdownMenuLink{
  color:#f7ca45;
}



#info-card{
    background: rgba(0, 0, 0, .7);
}

.card-text{
  color:white;
}

.card-header{
  color:white;
}

.text-success{
  color:#85b4dc;
}

.btn{
  background-color:#67a1d3;
}



.axis{

  fill:black;
  font-size:10px;
}

#slider-container{
margin-top:-110px;
margin-right:100px;
}
#slider{
  fill:#2e2e2e;
  margin-left: -300px;

}
g .tick text{
 font-size:1.3em;
 font-weight: bold;
 fill: white;
}

.track{
  height:20px;
  stroke:none;
opacity:0.8;
}

#value{
  font-size: 40px;
  color:#2e2e2e;
  font-weight: bold;
  font:arial;

}



.gratLines {
  fill: none;
  stroke: #999;
  stroke-width: 1px;
}

.gratBackground {
  fill: rgba(36, 71, 141, 0.212);
}

/* map css styles */

.map-container {
  height: auto;
  border: gray;
}

.map-container path.country {
  fill: #e8e8e8;
  stroke: white;
}

.infocard {
  z-index: 998;
  position: absolute;
}

.info {
  font-size: 0.8em;
}

.sourceLink {
  font-size: 0.9em;
}

/* tooltip styles */

.body > .main-tooltip {
  background-color: hsla(210, 10%, 23%, 0.7);
  opacity: 0;
  z-index: 999;
  position: absolute;
  min-width: 50px;
  pointer-events: none;
  border: 2px black hsla(210, 10%, 23%, 0.9);
  padding: 2px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px black;
}

.body > .main-tooltip .number {
  font-family: monospace;
  text-align: right;
  font-size: 1.3em;
  font-weight: 900;
  color: white;
}

.body > .main-tooltip p {
  margin: 2px;
  color: white;
  display: inline;
  white-space: nowrap;
}

/* bar chart css */

.bar-chart {
  height: auto;
}

.bar-char-interior {
  background-color: aqua;
}

.bar-chart path.bar {
  fill: gray;
  /* stroke: #fff; */
}

.bar-chart text.data {
  fill: white;
  /* stroke: black; */
  /* stroke-width: 0.7; */
  font-family: sans-serif;
  font-size: 0.85em;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 1.2em;
}

.title {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}
